<h1><%= message %></h1><!--Muestra el valor de la variablle message-->
<h2><%= error.status %></h2> <!--Muestra el código de estado HTTP-->
<pre><%= error.stack %></pre> <!--Muestra la traza del error-->
<!--Bloque de plantillsa para mostrar errores-->