<!--Footer con los iconos que se podran cambiar en un futuro, y con el link a una nueva pagina llamada preguntas frecuentes-->
<footer>
  <div class="container mt-5">
    <div class="d-flex justify-content-start align-items-left">
      <a href="https://www.instagram.com/" title="Instagram">
        <i class="bi bi-instagram icon"></i>
      </a>
      <a href="https://www.facebook.com/?locale=es_ES" title="Facebook">
        <i class="bi bi-facebook icon"></i>
      </a>
      <a href="https://x.com/?lang=es" title="Twitter">
        <i class="bi bi-twitter-x icon"></i>
      </a>
    </div>
  </div>
  <div class="container-fluid text-center">
    <a href="#" title="To Top">
      <span ></span>
    </a>
    <p>Preguntas frecuentes </p>
  </div>
</footer>