<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Preguntas frecuentes</title>
    <% include header %>
  </head>
  <body>>
    <div style="position: relative; z-index: 20;">
    <div style="top: 20px; right: 50px; position: fixed;"><% include pestañausuario %></div>
    <% if (user) { %>
      <p id = "titulo-principal" style=" position: fixed; top: 100px; left: 1810px; z-index: 21;">
        <%= user.name %> <%= user.surname %>
      </p>
    <% } %>
    </div>
    <div class="header1">
        <h1 class="display-1" style="margin-top: 30px;"><strong>Preguntas Frecuentes</strong></h1>
    </div>
    <div class="container">
        <div class="container1">
            <!-- Panel lateral con las preguntas -->
            <div class="sidebar">
                <ul>
                    <li><a href="#pregunta1">Herramienta de medición</a></li>
                    <li><a href="#pregunta2">Herramienta de descarga</a></li>
                    <li><a href="#pregunta3">Usuarios</a></li>
                    <li><a href="#pregunta4">Mapas y Rutas</a></li>
                    <li><a href="#pregunta5">Comentarios</a></li>
                </ul>
            </div>
        </div>
        <!-- Contenido principal con las respuestas -->
        <div class="content-wrapper">
            <h2  id="pregunta1" class="fs-1">Herramienta de medición</h2>
            <p class="fs-3">La herramienta de medición es una funcionalidad que permite a los usuarios medir distancias en el mapa. Esta herramienta es especialmente útil para calcular distancias entre puntos y obtener información geográfica precisa.</p>
            <p class="fs-3">Para utilizar la herramienta de medición, sigue estos pasos:</p>
            <ol>
                <li class="fs-3">Haz clic en el icono de la herramienta de medición en la barra de herramientas del mapa.</li>
                <li class="fs-3">Selecciona el punto de inicio haciendo clic en el mapa.</li>
                <li class="fs-3">Mueve el cursor al punto final y haz clic nuevamente para completar la medición.</li>
                <li class="fs-3">La distancia se mostrará en la pantalla, junto con las coordenadas de los puntos seleccionados.</li> 
            </ol>
            <h2 id="pregunta2">Herramienta de descarga</h2>
            <p>Respuesta a la pregunta 2. Explicación detallada...</p>

            <h2 id="pregunta3">Usuarios</h2>
            <p>Respuesta a la pregunta 3. Explicación detallada...</p>

            <h2 id="pregunta4">Mapas y Rutas</h2>
            <p>Respuesta a la pregunta 4. Explicación detallada...</p>

            <h2 id="pregunta5">Comentarios</h2>
            <p>Respuesta a la pregunta 5. Explicación detallada...</p>
            <p>Respuesta a la pregunta 1. Explicación detallada...</p>
            <p>Respuesta a la pregunta 1. Explicación detallada...</p>

            <p>Respuesta a la pregunta 1. Explicación detallada...</p>
            <p>Respuesta a la pregunta 1. Explicación detallada...</p>
            <p>Respuesta a la pregunta 1. Explicación detallada...</p>
            <p>Respuesta a la pregunta 1. Explicación detallada...</p>
            <p>Respuesta a la pregunta 1. Explicación detallada...</p>
            <p>Respuesta a la pregunta 1. Explicación detallada...</p>
            <p>Respuesta a la pregunta 1. Explicación detallada...</p>
            <p>Respuesta a la pregunta 1. Explicación detallada...</p>
            <p>Respuesta a la pregunta 1. Explicación detallada...</p>
            <p>Respuesta a la pregunta 1. Explicación detallada...</p>
            <p>Respuesta a la pregunta 1. Explicación detallada...</p>
            <p>Respuesta a la pregunta 1. Explicación detallada...</p>
            <p>Respuesta a la pregunta 1. Explicación detallada...</p>
            <p>Respuesta a la pregunta 1. Explicación detallada...</p>
            
        </div>
    </div>
    <div>
    <div class="d-flex justify-content-start align-items-left">
        <a href="https://www.instagram.com/" title="Instagram">
            <i class="bi bi-instagram icon"></i>
        </a>
        <a href="https://www.facebook.com/?locale=es_ES" title="Facebook">
            <i class="bi bi-facebook icon"></i>
        </a>
        <a href="https://x.com/?lang=es" title="Twitter">
            <i class="bi bi-twitter-x icon"></i>
        </a>
        </div>
    </div>
    <div class="container-fluid text-center">
        <a href="#" title="To Top">
        <span ></span>
        </a>
        <p><a href = "/">Inicio</a></p>
    </div>
    <script>
      document.querySelectorAll('a[href^="#"]').forEach(anchor => {
          anchor.addEventListener('click', function (e) {
              e.preventDefault();
              
              const targetElement = document.querySelector(this.getAttribute('href'));
              const headerOffset = 150; // Cambia este valor según la altura de tu header
              const elementPosition = targetElement.offsetTop;
              const offsetPosition = elementPosition - headerOffset;
  
              window.scrollTo({
                  top: offsetPosition,
                  behavior: 'smooth'
              });
          });
      });
  </script>
  </body>

</html>

